@model WebApplication1.Models.Contact_Us.Location

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />
<link href="/css/CrudTable/style.css" rel="stylesheet" />




<div class="CardContainer">
    <div class="CardSection">
        <div class="Inputsbody">
            <h1 style="position:center">Supprimer la Location</h1>
            <div class="form__group field">
                <input asp-for="Name" type="text" class="form__field" placeholder="Titre" disabled />
                <label for="name" class="form__label">Nom</label>
            </div>
            <div class="form__group field">
                <input asp-for="Longitude" type="text" class="form__field" placeholder="Description" disabled />
                <label for="name" class="form__label">Longitude</label>
            </div>
            <div class="form__group field">
                <input asp-for="Latitude" type="text" class="form__field" placeholder="Titre" disabled />
                <label for="name" class="form__label">Latitude</label>
            </div>
            <div class="form__group field">
                <input asp-for="Description" type="text" class="form__field" placeholder="Description" disabled />
                <label for="name" class="form__label">Description</label>
            </div>
            <div class="form__group field">
                <h3>Etes-vous sur de voulpir supprimer ce slide?</h3>
                <div>
                    <form asp-action="Delete">
                        <input id="submit" type="submit" asp-for="Id" asp-route-id="@Model.Id" value="@Model.Id " hidden />
                        <button value="Supprimer" class="btn btn-danger">Delete</button>
                        <a asp-action="Index" asp-controller="HomeCrud">Retourner a la liste des Localizations</a>
                    </form>
                </div>
                <label></label>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn').click(function () {
        $('#submit').click();
    });
</script>