



<link href="/css/NotreMission/NotreMissionStyle.css" rel="stylesheet" />
<link href="/css/PageCard/PageCard.css" rel="stylesheet" />

<div class="CardContainer">
    <div class="CardSection">
        <div>
            <div style="text-align:center;">
                <span style="font-size:30px;">Notre Mission</span>
            </div>
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>

                </div>
                <div class="description">
                    <h1>TItre 1</h1>
                    <h2>Sous titre</h2>
                    <p>Paragraph </p>
                </div>
            </div>


            <div class="blog-card alt">
                <div class="meta">
                    <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>

                </div>
                <div class="description">
                    <h1>Titre 1</h1>
                    <h2>Sous Titre</h2>
                    <p>Paragraph</p>
                </div>
            </div>

            <div style="text-align:center;">
                <span style="font-size:30px;">Quellques Nombres</span>
            </div>


        </div>

        <div class="CardItemcontainer">
            <a class="card1" href="#">
                <h3>This is option 1</h3>
                <p class="small">Membre</p>
                <div class="go-corner" href="#">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>

            <a class="card1" href="#">
                <h3>This is option 1</h3>
                <p class="small">Project</p>
                <div class="go-corner" href="#">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>

            <a class="card1" href="#">
                <h3>This is option 1</h3>
                <p class="small">Partenair</p>
                <div class="go-corner" href="#">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>

        </div>



    </div>
</div>


<script>

</script>