@model  IQueryable<WebApplication1.Models.QuiSommeNous.Member>



<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />


<link rel="stylesheet" href="~/css/MemberCard/MemberCard.css" />

<div class="CardContainer">
    <div class="CardSection">
        <!-- horizontal -->
        <div class="Cardsbody">
            <!-- horizontal card flip Member-->
            <h1>Nos Membres</h1>
            @foreach (var item in Model)
            {
                <div class="flip">
                    <div class="front" style="background-image: url(data:image/jpeg;base64,@Convert.ToBase64String(item.Image));">
                        <h1 class="text-shadow">@item.FirsName @item.LastName</h1>
                    </div>
                    <div class="back">
                        <h2>@item.ProfitionOrOrganization</h2>
                        <p>@item.Description</p>
                    </div>
                </div>
            }
            <br>
            <br>
        </div>
    </div>
</div>