@model WebApplication1.Models.Home.HomeModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/PageCard/PageCard.css" />
<link href="/css/CrudTable/style.css" rel="stylesheet" />




<div class="CardContainer">
    <div class="CardSection">
        <div class="Inputsbody">
            <h1 style="position:center">Supprimer Le Slide</h1>
            <div class="form__group field">
                <div class="Imgcontainer">
                    <div class="wrapper">
                        <div class="image">
                            <img id="Image" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Image)" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__group field">
                <input asp-for="Title" type="text" class="form__field" placeholder="Titre" disabled />
                <label for="name" class="form__label">Titre</label>
            </div>
            <div class="form__group field">
                <input asp-for="Description" type="text" class="form__field" placeholder="Description" disabled/>
                <label for="name" class="form__label">Description</label>
            </div>
            <div class="form__group field">
                <h3>Etes-vous sur de vouloir supprimer ce slide ?</h3>
                <div>
                    <form style="text-align:center;" asp-action="Delete">
                        <input id="submit" type="submit" asp-for="Id" asp-route-id="@Model.Id" value="@Model.Id "  hidden/>
                        <button style="width:100%;" value="Supprimer" class="btn btn-danger">Supprimer</button>
                        <a text asp-action="Index" asp-controller="HomeCrud">Retourner A La Liste Des Slides</a>
                    </form>
                </div>
                <label></label>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn').click(function () {
        $('#submit').click();
    });
</script>